<div class="footer">
  <div id="footer-container">
    <div class="footer-content">
      <div id="footer-links">
        <%# <div>
          <ul id="open-hours">
            <li><strong>Openingstijden:</strong></li>
            <br><br>
            <li class="times"><p>Maandag</p><p>09:00-17:30</p></li>
            <li class="times"><p>Dinsdag</p><p>09:00-17:30</p></li>
            <li class="times"><p>Woensdag</p><p>09:00-17:30</p></li>
            <li class="times"><p>Donderdag</p><p>09:00-17:30</p></li>
            <li class="times"><p>Vrijdag</p><p>09:00-17:30</p></li>
          </ul>
        </div> %>
        <div id="footer-menu" class="footer-style">
          <ul>
            <li> <%= link_to "Pakketten", "/pakketten.html" %></li>
            
            <li><%= link_to "Wat wij doen", "/beeldmateriaal.html" %></li>
            <!-- <li><%= link_to "Portfolio", "/portfolio.html" %></li> -->
            <li><%= link_to "Projecten", "/projecten.html" %></li>
            <li><%= link_to "Over Ons", "/over-ons.html" %></li>
            <li><%= link_to "Contact", "/contact.html" %></li>
            <li><%= link_to  "☏ 020-7702106", "tel:#{+31207702106}" %></li>
            <li><%= link_to "Online inplannen", "/inplannen.html"%></li>
            
            <li style="margin-top:20px"><p>©2020 Beeldpakket</p></li>
          </ul>
        </div>
        <div id="footer-info" class="footer-style">
          <ul>
            <li>Beeldpakket</li>
            <li>Columbusplein 62-3</li>
            <li>1057 VC Amsterdam</li>
            <li>020-7702106</li>
            <li><a href="mailto:contact@beeldpakket.nl">contact@beeldpakket.nl</a></li>
            <li>KvK 60909005</li>
            <li>BTW NL001443714B88</li>
            
            <li style="margin-top:20px"><a href="/images/Algemene-voorwaarden-2019-Beeldpakket.pdf" download><p>Algemene Voorwaarden</p></a></li>
          </ul>
        </div>
      </div>
    </div>
    <%# <div id="footer-bottom">
      

    </div> %>
  </div>
</div>
