<div class="banner">


  <div id="carousel-home" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner " role="listbox">
      <div class="item active">
        <%= image_tag "slider001.jpg", class:"img-fluid"  %>
      </div>
      <div class="item">
        <%= image_tag "slider002.jpg", class:"img-fluid"  %>
      </div>
      <div class="item">
        <%= image_tag "slider003.jpg", class:"img-fluid"  %>
      </div>
      <div class="item">
        <%= image_tag "slider004.jpg", class:"img-fluid"  %>
      </div>
      <div class="item">
        <%= image_tag "slider005.jpg", class:"img-fluid"  %>
      </div>
      <div class="item">
        <%= image_tag "slider006.jpg", class:"img-fluid"  %>
      </div>
    </div>
  </div>




  <div id="home-menu">
    <h2 id="home-menu-text">Beeldpakket.nl - Dé ideale beeldpartner voor iedere makelaar! </h2>
    <div class="call-to-action">
      <h1><%= link_to "Online inplannen", "/inplannen.html" %></h1>
    </div>
  </div>
</div>

<div id=home-wrapper>
  <div id="about-home">
    <div id="about-home-text">
      <h1 style="margin-bottom: 35px;">Waarom kiest u voor Beeldpakket?</h1>
      <p>
        Onze fotografen kunnen zich goed verplaatsen in zowel de koper als de verkoper. Dit zorgt voor een prettig contact, de beste beelden van de woning én een tevreden klant!<br>
      We werken met de beste fotografen in het vak en hebben jarenlange ervaring op de Amsterdamse huizenmarkt. We onderscheiden ons door onze persoonlijke benadering en we zijn pas tevreden als u dat bent.</p>
    </div>
  </div>
</div>
